<div class="row mt-8">
    <div class="col card text-center ms-3 me-3">
        <div class="card-body">
            <h5 class="card-title">Participantes</h5>
            <p class="card-text">
                Acesse e manipule os participantes e as contribuições de cada um.
            </p>
            <p class="card-text">
                <a class="link-offset-1" href="participante">Acessar participantes</a>
            </p>
        </div>
    </div>
    <div class="col card text-center ms-3 me-3">
        <div class="card-body">
            <h5 class="card-title">Oficinas</h5>
            <p class="card-text">
                Acesse e manipule as oficinas.
            </p>
            <p class="card-text">
                <a class="link-offset-1" href="oficina">Acessar oficinas</a>
            </p>
        </div>
    </div>
    <div class="col card text-center ms-3 me-3">
        <div class="card-body">
            <h5 class="card-title">Agenda</h5>
            <p class="card-text">
                Acesse e manipule a programação semanal da associação.
            </p>
            <p class="card-text">
                <a class="link-offset-1" href="agenda">Acessar agenda</a>
            </p>
        </div>
    </div>
</div>
